@import "tailwindcss";

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

:root {
    --primaryColor: #1e3d8f;
    --darkerPrimaryColor: #162f6b;
    --secondaryColor: #4f6cb2;
    --thirdColor: #f28f3b;
    --darkerThirdColor: #c86f28;
    --fourthColor: #6db944;
    --darkerFourthColor: #4f9330;
    --backgroundColor: #f4f6fa;
    --buttonColor: #f25c54;
    --buttonColorDarker: #d6453e;
    --softGray: #e0e0e0;
    --softBlue: #4f6cb2;
    --darkersoftBlue: #3b5291;
    --mainBoxShadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --poupupWindowBoxShadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    --mainTransition: 0.3s;
    --mainBorderRadius: 8px;
}

body {
    background-color: var(--backgroundColor);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* LOGIN PAGE  */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loign-container {
    display: flex;
    max-width: 800px;
    height: 500px;
    box-shadow: var(--mainBoxShadow);
    border-radius: var(--mainBorderRadius);
    overflow: hidden;
    background-color: white;
}

.login-img {
    width: 50%;
    height: 100%;
    border-right: 4px solid var(--backgroundColor);
    padding-bottom: 25px;
    /* object-fit: contain; */
}

.login-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-left: 5px;
    width: 50%;
    padding: 10px;
}

.login-info h1 {
    color: var(--secondaryColor);
}

.login-info p {
    color: #555;
}

.login-info form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field .input-container {
    position: relative;
}

.input-field .input-container input {
    padding: 10px 40px 10px 10px;
    border: 2px solid #ddd;
    border-radius: var(--mainBorderRadius);
    font-size: 16px;
    transition: var(--mainTransition);
    width: 100%;
}

.input-field label {
    font-weight: bold;
    color: var(--secondaryColor);
}

.input-field .input-container input:focus {
    border-color: var(--primaryColor);
    outline: none;
}

.input-field .input-container input::placeholder {
    transition: var(--mainTransition);
}

.input-field .input-container input:focus::placeholder {
    opacity: 0;
}

.input-field .input-container .input-icon {
    color: var(--primaryColor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.login-btn {
    background-color: var(--buttonColor);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: var(--mainTransition);
}

.login-btn:hover {
    background-color: var(--buttonColorDarker);
}

.login-btn.loading {
    background-color: #555;
    cursor: no-drop;
}

.login-error {
    font-size: small;
    font-weight: bold;
    color: var(--buttonColorDarker);
}

@media (max-width: 767px) {
    .login-img {
        display: none;
    }

    .login-info {
        width: 100%;
    }
}

/* APP LAYER (NAVBAR) */

.app-navbar {
    height: 75px;
    background-color: var(--secondaryColor);
    box-shadow: var(--mainBoxShadow);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
}

.app-navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: var(--mainTransition);
}

.app-navbar a.active-navLink {
    font-weight: bold;
    color: var(--darkerPrimaryColor);
}

.app-navbar a:hover {
    color: var(--darkerPrimaryColor);
}

.app-navbar a .nav-icon {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: text-top;
}

/* Home Page  */
.home-container {
    height: calc(100vh - 75px);
    display: flex;
}

.products-section {
    height: 100%;
    width: 65%;
    overflow-y: auto;
}

.products-section .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: var(--mainBoxShadow);
    margin-bottom: 15px;
}

.options .filters {
    display: flex;
    gap: 10px;
}

.options .filters .clear-btn {
    background-color: var(--thirdColor);
    color: var(--darkerPrimaryColor);
    font-weight: bold;
    border: 3px solid #d4a373;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--mainTransition);
}

.filters .clear-btn:hover {
    background-color: var(--fourthColor);
    color: white;
    border-color: var(--buttonColor);
}

.filters .category {
    background-color: var(--thirdColor);
    color: var(--darkerPrimaryColor);
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--mainTransition);
}

.category.active {
    background-color: var(--fourthColor);
    color: white;
}

.category:hover {
    background-color: var(--fourthColor);
    color: white;
    border-color: var(--buttonColor);
}

.options .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #ddd;
}

.search-bar input {
    border: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
    width: 200px;
}

.search-bar .search-actions {
    display: flex;
    gap: 8px;
}

.search-bar .search-actions button {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: var(--mainTransition);
}

.search-bar .search-actions button#search {
    background-color: var(--fourthColor);
}

.search-bar .search-actions button#search:hover {
    background-color: var(--darkerFourthColor);
}

.search-bar .search-actions button#reset {
    background-color: var(--buttonColor);
    padding: 0;
    opacity: 0;
    transition: all 0.75s ease;
}

.search-bar .search-actions button#reset:hover {
    background-color: var(--buttonColorDarker);
}

.search-bar .search-actions button#reset.visible {
    opacity: 1;
    padding: 8px 12px;
}

.loading-spinner {
    width: 10rem;
    height: 10rem;
    border: 3px solid var(--secondaryColor);
    border-top-color: transparent;
    border-radius: 50%;
    margin: auto;
    animation: spining 1s infinite 0.5s linear;
}

@keyframes spining {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.no-products {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin: auto;
}

.products-section .products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.products .product-card {
    width: 180px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: var(--mainBoxShadow);
    padding: 12px;
    transition: var(--mainTransition);
    cursor: pointer;
}

.product-card:hover {
    background-color: var(--thirdColor);
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 70%;
}

.product-card .product-info {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info .product-name {
    color: var(--darkerPrimaryColor);
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid;
}

.product-unitPrice {
    color: var(--primaryColor);
    font-size: 14px;
    font-weight: bold;
}

.invoice-section {
    box-shadow: var(--mainBoxShadow);
    min-height: inherit;
    width: 35%;
    background-color: #ddd;
    padding: 16px;
}

.invoice-section .empty-invoice {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.empty-invoice .empty-icon {
    font-size: 50px;
    color: var(--buttonColor);
}

.empty-invoice .main-text {
    color: var(--secondaryColor);
    font-size: 18px;
    font-weight: bold;
}

.empty-invoice .sub-text {
    font-size: 14px;
    color: #555;
}

.invoice-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.invoice-body .invoice-items {
    height: 80%;
    overflow-y: auto;
    border-radius: 6px;
}

.invoice-items::-webkit-scrollbar {
    width: 8px;
}

.invoice-items::-webkit-scrollbar-track {
    background: var(--backgroundColor);
    border-radius: var(--mainBorderRadius);
}

.invoice-items::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: var(--mainBorderRadius);
    transition: var(--mainTransition);
}

.invoice-items::-webkit-scrollbar-thumb:hover {
    background: var(--darkerPrimaryColor);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
}

table thead {
    background-color: var(--secondaryColor);
    color: white;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: var(--softGray);
}

table tfoot {
    background-color: var(--thirdColor);
    font-weight: bold;
}

table td {
    padding: 10px;
}

.invoice-items tbody tr td .quantity {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.quantity .plus-circle {
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 18px;
}

.quantity .minus-circle {
    color: var(--buttonColor);
    cursor: pointer;
    font-size: 18px;
}

td.trash-can {
    color: var(--buttonColor);
    cursor: pointer;
    font-size: 18px;
}

.invoice-body .open-custmer-page-btn {
    width: 80%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: var(--thirdColor);
    cursor: pointer;
    transition: var(--mainTransition);
}

.invoice-body .open-custmer-page-btn:hover {
    background-color: var(--darkerThirdColor);
    color: #ddd;
}

.invoice-body .invoice-options {
    /* height: 20%; */
    display: flex;
    justify-content: space-around;
    gap: 8xp;
    margin: 10px 0;
}

.invoice-options button {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 24px 12px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--mainTransition);
}

.pend-btn,
.copy-btn {
    background-color: var(--fourthColor);
    color: white;
}

.pend-btn:hover,
.copy-btn:hover {
    background-color: var(--darkerFourthColor);
}

.complete-btn {
    background-color: var(--primaryColor);
    color: white;
}

.complete-btn:hover {
    background-color: var(--darkerPrimaryColor);
}

.cancel-btn,
.return-btn {
    background-color: var(--buttonColor);
    color: white;
}

.cancel-btn:hover,
.return-btn:hover {
    background-color: var(--buttonColorDarker);
}

/* Payment Popup Window */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--mainTransition);
}

.pending-invoice-section .popup-overlay,
.complated-invoice-section .popup-overlay {
    padding: 25px;
    overflow-y: auto;
}

.popup-overlay.show {
    opacity: 1;
    visibility: visible;
}

.popup-overlay.hide {
    opacity: 0;
    visibility: hidden;
}

.popup-payment-window {
    position: fixed;
    width: 85%;
    height: 85vh;
    background-color: var(--backgroundColor);
    box-shadow: var(--poupupWindowBoxShadow);
    padding: 20px;
    border-radius: var(--mainBorderRadius);
    display: flex;
    gap: 8px;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeIn 0.3s ease-in-out forwards;
}

.popup-payment-window.hide {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--buttonColor);
    transition: var(--mainTransition);
}

.close-btn.ar {
    left: 30px;
    right: unset;
}

.close-btn:hover {
    color: var(--buttonColorDarker);
}

.final-invoice-section {
    /* height: 100%; */
    flex: 0.4;
    overflow-y: auto;
}

.payment-section {
    height: 100%;
    flex: 0.6;
    background-color: var(--backgroundColor);
    padding: 10px;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--mainBoxShadow);
}

.process-info h2 {
    color: var(--secondaryColor);
    font-size: 22px;
    margin-bottom: 8px;
}

.process-info p {
    color: #555;
}

.custmer-discount {
    padding: 10px;
    border-radius: var(--mainBorderRadius);
    margin-top: 10px;
    transition: var(--mainTransition);
}

.apply-descount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 6px;
    background-color: var(--backgroundColor);
}

.apply-descount span {
    font-size: 16px;
    font-weight: bold;
    color: var(--secondaryColor);
}

.payment-methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}

.payment-methods button {
    width: 80%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: var(--mainTransition);
}

.cash-btn {
    background-color: var(--primaryColor);
    color: white;
    border: none;
}

.cash-btn:hover {
    background-color: var(--darkerPrimaryColor);
}

.custmer-account-btn {
    background-color: var(--fourthColor);
    color: white;
    border: none;
}

.custmer-account-btn:hover {
    background-color: var(--darkerFourthColor);
}

.apply-descount-btn {
    background-color: var(--buttonColor);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--mainTransition);
}

.apply-descount-btn:hover {
    background-color: var(--buttonColorDarker);
}

.check-cash-btn,
.add-to-custmer-acount-btn {
    background-color: var(--primaryColor);
    color: white;
    border: none;
    padding: 8px;
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
    transition: var(--mainTransition);
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 8px 0;
}

.check-cash-btn:hover,
.add-to-custmer-acount-btn:hover {
    background-color: var(--darkerPrimaryColor);
}

.process-calculation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-calculation h2 {
    color: var(--darkerPrimaryColor);
    font-size: 18px;
}

.process-calculation .confirm-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
    transition: var(--mainTransition);
    border: none;
    background-color: var(--primaryColor);
    color: white;
}

.process-calculation .confirm-btn:hover {
    background-color: var(--darkerPrimaryColor);
}

label {
    font-weight: bold;
    color: var(--secondaryColor);
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--primaryColor);
    border-radius: 6px;
    background-color: white;
    color: var(--secondaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}

select:focus {
    border-color: var(--darkerPrimaryColor);
    outline: none;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--primaryColor);
    border-radius: 6px;
    background-color: white;
    color: var(--secondaryColor);
    transition: var(--mainTransition);
}

input:focus {
    border-color: var(--darkerPrimaryColor);
    outline: none;
}

.receipt-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex: 0.6;
}

.receipt-section h2 {
    color: var(--secondaryColor);
    font-size: 22px;
    margin-bottom: 15px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: TextfadeIn 0.5s ease-in-out forwards;
}

@keyframes TextfadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.receipt-section .check-svg {
    font-size: 23px;
    margin-left: 15px;
    color: var(--darkerPrimaryColor);
    vertical-align: text-bottom;
}

/* Payment Popup Window */

/* PendingInvoicesPage &&  Complated Invoice Page  && Custmers Debts Page */
.pending-invoice-page,
.complated-invoice-page,
.custmers-debts-page {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pending-invoice-section,
.complated-invoice-section,
.custmers-debts-section {
    flex: 0.8;
    padding: 20px;
    overflow-y: auto;
    border-radius: var(--mainBorderRadius);
    background-color: white;
    box-shadow: var(--mainBoxShadow);
}

.pending-invoice,
.completed-invoice,
.custmer-debt {
    background-color: var(--backgroundColor);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pending-invoice .info h2,
.completed-invoice .info h2,
.custmer-debt .info h2 {
    color: var(--secondaryColor);
    font-size: 18px;
    margin-bottom: 5px;
}

.pending-invoice .info p,
.completed-invoice .info p,
.custmer-debt .info p {
    color: #555;
    font-size: 14px;
}

.options {
    display: flex;
    gap: 8px;
}

.options button,
.options a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
    transition: var(--mainTransition);
    border: none;
    /* for the link */
    text-decoration: none;
}

.complete-btn,
.pay-off-btn,
.debt-closure-btn {
    background-color: var(--primaryColor);
    color: white;
}

.new-order-btn {
    background-color: var(--fourthColor);
    color: white;
}

.new-order-btn:hover {
    background-color: var(--darkerFourthColor);
}

.complete-btn:hover,
.pay-off-btn:hover,
.debt-closure-btn:hover {
    background-color: var(--darkerPrimaryColor);
}

.cancel-btn {
    background-color: var(--buttonColor);
    color: white;
}

.cancel-btn:hover {
    background-color: var(--buttonColorDarker);
}

.show-btn,
.pay-part-btn {
    background-color: var(--thirdColor);
    color: white;
}

.show-btn:hover,
.pay-part-btn:hover {
    background-color: var(darkerThirdColor);
}

.print-btn {
    background-color: var(--softBlue);
    /* Blue */
    color: white;
}

.print-btn:hover {
    background-color: var(--darkersoftBlue);
    /* Darker Blue */
}

.debts-amount {
    background-color: white;
    padding: 20px;
    border-radius: var(--mainBorderRadius);
    width: 500px;
    box-shadow: var(--mainBoxShadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.debts-amount input {
    text-align: center;
}

.debts-amount button {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
    margin-top: 8px;
    border: none;
}

/* Payment Receipt */
.receipt {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 1px solid #ddd;
    background-color: white;
}

.receipt table {
    width: 100%;
    margin: 10px 0;
}

.receipt th,
.receipt td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    color: black;
}
.receipt td{
    background-color: white;
}
.receipt th {
    background-color: var(--backgroundColor);
}
/* MODAL */
.modal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    min-width: 50rem;
    min-height: 30rem;
    padding: 15px;
    margin: auto;
    z-index: 2;
    background: #d5c7bc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: none;
    outline: none;
    animation: slide-down-fade-in 0.3s ease-out forwards;
}

.modal h2 {
    color: var(--darkerPrimaryColor);
}

@keyframes slide-down-fade-in {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Shift Close Page  */
.shift-close-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
}

.shift-close-section {
    padding: 20px;
    width: 600px;
    overflow-y: auto;
    border-radius: var(--mainBorderRadius);
    background-color: white;
    box-shadow: var(--mainBoxShadow);
}

.currency-input-filed input::-webkit-outer-spin-button,
.currency-input-filed input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currency-input-filed input {
    -moz-appearance: textfield;
}

.shift-close-section h1 {
    color: var(--primaryColor);
    font-size: 22px;
    margin-bottom: 20px;
}

.currency-denominations {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.currency label {
    font-size: 16px;
    font-weight: bold;
    color: var(--secondaryColor);
    margin-bottom: 5px;
}

.currency-input-filed {
    display: flex;
    align-items: center;
    gap: 8px;
}

.currency-input-filed input {
    width: 60px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: 2px solid var(--primaryColor);
    border-radius: var(--mainBorderRadius);
    background-color: white;
    color: var(--secondaryColor);
}

.currency-input-filed button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: var(--mainTransition);
}

.currency-input-filed .increase-btn {
    color: var(--primaryColor);
}

.currency-input-filed .increase-btn:hover {
    color: var(--darkerPrimaryColor);
}

.currency-input-filed .decrease-btn {
    color: var(--buttonColor);
}

.currency-input-filed .decrease-btn:hover {
    color: var(--buttonColorDarker);
}

.check-total-btn {
    background-color: var(--primaryColor);
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
    border: none;
    margin: 15px 0;
    transition: var(--mainTransition);
}

.check-total-btn:hover {
    background-color: var(--darkerPrimaryColor);
}

.total-amount {
    color: var(--darkerFourthColor);
    font-size: 20px;
    font-weight: bold;
}

/* CUSTMER SCREEN */
.custmer-screen {
    height: 100vh;
    display: flex;
    gap: 0.8rem;
    padding: 10px;
}

.custmer-screen .custmer-invoice {
    width: 30%;
    overflow-y: auto;
    /* border-right: 2px solid #e0e0e0; */
    background-color: white;
    padding-right: 5px;
}

.custmer-screen h3 {
    color: #1e3d8f;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 8px;
    text-align: center;
}

.custmer-screen .ads-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* padding: 10px; */
}

.ads-slid {
    height: calc(100vh - 32px - 150px);
    border-radius: 8px;
}

.singal-slide {
    height: calc(100vh - 32px - 150px) !important;
}

.singal-slide img {
    max-height: calc(100vh - 32px - 150px) !important;
    width: 100% !important;
    border-radius: 8px;
    object-fit: contain;
}

.slick-slide {
    height: calc(100vh - 32px - 150px) !important;
}

.slick-slide img {
    max-height: calc(100vh - 32px - 150px) !important;
    width: 100% !important;
    border-radius: 8px;
    object-fit: contain;
}

.ads-slid>img {
    border-radius: 8px;
    /* height: 100%; */
    /* width: 100%;
  object-fit: contain; */
}

/* .ads-slid img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
  border-radius: 8px;
} */

.videos-slid {
    height: 50%;
}

.videos-slid video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    object-fit: fill;
}

/* .custmer-screen img {
    width: 100px;
    height: 100px;
    border: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: hidden;
} */